html{
    height: 100%;
    font-family: 'Roboto Slab';
    background: #514953;
}

body{
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
}

.meters-area{
    margin-top: 10px;
    padding: 10px;
    min-width: 200px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
}
.meters-title{
    color: #FFF;
    font-size: 18px;
    padding-left: 5px;
}
.meters-list{
    grid-column-end: span 2;
    margin-top: 10px;
}
.meter-item{
    color: #DDD;
    font-size: 14px;
    font-weight: 200;
    display: grid;
    grid-template-columns: 22px auto;
    margin-bottom: 3px;
    cursor: pointer;
}
.meter-item:hover{
    color: #FFF;
}

.loading-plots{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    line-height: 200px;
    font-size: 25px;
    color: white;
}

.measurements-grid{
    display: grid;
    padding: 5px;
}
@media (min-width: 500px) {
    .measurements-grid{
        grid-template-columns: 1fr;
    }
}
@media (min-width: 1000px) {
    .measurements-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1500px) {
    .measurements-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.measurement-item{
    background: #FFF;
    padding: 10px;
    margin: 5px;
    border-radius: 2px;
}
.meter-name{
    font-size: 18px;
    font-weight: 500;
    color: #666;
}
.instrument-name{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}



input[type="checkbox"]{
    margin-top: 4px;
    cursor: pointer;
}
.link-button{
    background: none;
    border: none;
    padding: 0;
    color: rgb(56, 163, 216);
    cursor: pointer;
    font-family: 'Roboto Slab';
}
.link-button:hover{
    /* text-decoration: underline; */
    color: rgb(62, 175, 231);

}
